---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
{% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
{% unless paginator %}
{% include breadcrumbs.html %}
{% endunless %}
{% endif %}


<div id="main" role="main">

  {% include sidebar.html %}
  <div class="archive">
    <p>
      {{site.data[site.active_lang].indroduction}}
    </p>
    {% unless page.header.overlay_color or page.header.overlay_image %}
    <ul>
      {{site.data[site.active_lang].interests}}
    </ul>
    <p>
      <br>
    </p>
    <p>
      <br>
    </p>

    <h1>Project</h1>

    <div class="porject-lists">
      <li>
        <div class="porject-row">
          <div class="box-left abbr">
            <img src="./assets/images/projects/VWO.gif">
          </div>
          <div class="box-right">
            <div class="title">
              <a>Monocular Localization with Vector HD Maps  Using Geometric-Context Data Association</a>
            </div>
            <div class="describe">a modular, low cost urban road localization system.</div>
            <div class="supported">
              <span style="font-weight: bold;">Liu Xinhao</span>, Cheng Shaowu* et al. IEEE Robotics and Automation Letters,
            </div>
            <div class="aditional"><strong>Under review</strong></div>
          </div>
        </div>
      </li>
        <div class="porject-row">
          <div class="box-left abbr">
            <img src="./assets/images/projects/VWO.gif">
          </div>
          <div class="box-right">
            <div class="title">
              <a>D-VWO: Dynamic Visual Wheel Odometry</a>
            </div>
            <div class="describe">This system combines stereo camera with wheel odometry, filtering dynamic feature
              points and performing joint graph optimization.</div>
            <div class="supported">
              <span style="color: #3d4d92;font-weight: bold;">Supported by</span>
              <a href="http://homepage.hit.edu.cn/chengshaowu?lang=en">Professor Cheng</a> and
              <a href="https://faculty.swjtu.edu.cn/yaozhihong/en/index/361181/list/index.htm" target="_blank">Professor
                Yao</a>
            </div>
            <div class="aditional"><strong>Bachelor's thesis (rank 1/23)</strong></div>
          </div>
        </div>
      </li>

      <br>

      <li>
        <div class="porject-row">
          <div class="box-left abbr">
            <img src="./assets/images/projects/SRTP.jpg">
          </div>
          <div class="box-right" style="position:relative;padding-right: 10px;padding-left: 20px;">
            <div class="title"> <a>A Robust Traffic Flow Computation Method and System
                for Road Networks Based on Vehicle License Plate Data from Checkpoints </a>
            </div>
            <div class="describe">Multi-source spatiotemporal big data is used to build a set of road network perception
              model for traffic situation and vehicle pollution. </div>
            <div class="supported">
              <span style="color: #3d4d92;font-weight: bold;">Supported by</span>
              <a> Sichuan Provincial SRTP</a>,
              <a href="https://en.swjtu.edu.cn/" target="_blank"> SWJTU</a>,
              <a href="http://www.glzt.com.cn/" target="_blank">Guolanzhongtian Environment Technology Group</a>.
            </div>
            <div class="aditional">Patent Number: CN 116386336 B</div>
          </div>
        </div>
      </li>
      <br>
    </div>

    <p>
      <br>
    </p>
    <hr>
    <p>
      <br>
    </p>


    <h1>Education</h1>
    <ul class="ul-edu fa-ul">
      <li>
        <div class="edu_row" style="display: flex;justify-content:space-between;">
          <div class="uni_name">
            <i class="fa-li fas fa-graduation-cap"></i><strong> Harbin Institute of Technology (HIT)</strong>
          </div>
          <div class="uni_time"><strong>[Aug. 2024 - Present]</strong></div>
        </div>
        <span style="font-family:'Times New Roman', Times, serif">M.S. Student in Traffic Information and Control
          Engineering</span>
      </li>
      <br>
      <li>
        <div class="edu_row" style="display: flex;justify-content:space-between;">
          <div class="uni_name">
            <i class="fa-li fas fa-graduation-cap"></i><strong> Southwest Jiaotong University (SWJTU)</strong>
          </div>
          <div class="uni_time"><strong>[Sep. 2020 - Jun. 2024]</strong></div>
        </div>
        <span style="font-family:'Times New Roman', Times, serif">B.S. Degree in Traffic Engineering</span>
      </li>
    </ul>

    <p>
      <br>
    </p>
    <hr>
    <p>
      <br>
    </p>

    <h1>Main Award</h1>
    <ul class="ul-edu fa-ul">
      {% for item in site.data[site.active_lang].awards %}
      <li>
        <div class="edu_row" style="display: flex;justify-content:space-between;">
          <div class="uni_name">
            <i class="fa-li fas fa-award"></i>
            <!-- <i class="fa-li fas fa-graduation-cap"></i> -->

            <strong> {{ item.name }}</strong>
          </div>
          <div class="uni_time"><strong>{{ item.time }}</strong></div>
        </div>
        <span style="font-family:'Times New Roman', Times, serif">{{ item.addition }}</span>
      </li>
      <br> 
      {% endfor %}    
    </ul>
    <h1 id="page-title" class="page__title" {% if page.locale %} lang="{{ page.locale }}" {% endif %}>{{ page.title }}
    </h1>
    {% endunless %}
    {{ content }}
  </div>
</div>