/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  top: -10px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-size: 17px;
  position: fixed;
  width: 100%;

  // border-bottom: 1px solid $border-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-inline: auto;
    padding: 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  // z-index: 20;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.masthead__menu {
  float: inline-start;
  margin-inline: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-inline-start: 0;

    @include breakpoint($small) {
      float: inline-end;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-inline-end: 2em;
    font-weight: 700;
  }
}

.mh_toogle {
  display: none;

}

.mh_toggle_btn {
  box-sizing: border-box;
  outline: 0;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  user-select: none;
  border-radius: 1.5em;
  padding: 2px;
  margin: 0px 1rem;
  margin-bottom: 4px;
  transition: all 0.4s ease;
  font-size: 1em;
  background: lightgray;
}

.mh_toggle_btn::before {
  content: "en";
  color: rgb(138, 138, 138);
  font-family: 'Material Icons Sharp';
  font-weight: normal;
  font-style: normal;

  position: absolute;
  top: 0.1em;
  left: 0.1em;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background-color: white;

  display: flex; /* 使用 flex 布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */

  transition: all 0.4s ease;
}

// .mh_toogle:checked + .mh_toggle_btn {
//   background-color: #ffffff;
// }

.mh_toogle:checked + .mh_toggle_btn::before {
  content: "zh";
  transform: translateX(1.3rem);
}


.material-icons-sharp {
  font-family: 'Material Icons Sharp';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}